// ================== PRIMARY COLORS ==================
$primary-color: #2d3e4e;

// ================== SECONDARY COLORS ==================
$secondary-color: #07c06a;

// ================== FONT COLORS ==================
$color-white: #ffffff;
$color-disabled: #aaaaaa;
