@use "../variables/colors" as colors;
@use "../variables/variables" as vars;

button {
  font: inherit;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: vars.$rounded;
  padding: 0.5rem 1rem;
  text-align: center;

  border: none;
  outline: 0;

  &:disabled {
    background-color: #aaaaaa !important;

    &:hover {
      cursor: not-allowed;
      border: 0 !important;
    }
  }
}

.button-default,
.button-icon {
  background-color: colors.$primary-color;
  color: colors.$color-white;
}

.button-default {
  padding: 1rem 2rem;
}
